PORT=10000
RELAY_TOKEN=replace-with-a-long-random-secret
MCP_PUBLIC=false
BRIDGE_REQUEST_TIMEOUT_MS=120000
PORT=10000
RELAY_TOKEN=replace-with-a-long-random-secret
MCP_PUBLIC=false
BRIDGE_REQUEST_TIMEOUT_MS=120000
URL=https://make.powerapps.com/e/ecfe462f-6fea-e517-9265-b51708689fd0/canvas/?action=edit&connector-type=shared_sharepointonline&table-name=3011b869-44a7-4270-b02d-bd07906885d4&dataset-name=https%3A%2F%2Fsquaretechnology.sharepoint.com%2Fsites%2FTimesheetMBLPOC&connection-name=shared-sharepointonl-ba63b691-d5c9-4473-ba99-02992833732c&template-type=MobileThreeScreen&referrer=AppsPage&app-id=%2Fproviders%2FMicrosoft.PowerApps%2Fapps%2Fd62913fb-3716-4c40-8e95-27f8dcd19660